* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes bg-movee {
    0% {
        background-position: -500px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

body {
    --accent-color-hover: #1a8ad5;
    --body-bg: #fff;
    --box-bg-blured: rgba(255, 255, 255, .84);
    --accent-link-color: #2481cc;
    --icon-verified: url(data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%20width%3D%2226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m6%206h12v12h-12z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m14.38%201.51%201.82%201.82c.37.37.86.57%201.38.57h2.57c1.01%200%201.85.77%201.94%201.76l.01.19v2.57c0%20.52.21%201.01.57%201.38l1.82%201.82c.71.71.76%201.84.13%202.61l-.13.15-1.82%201.82c-.37.37-.57.86-.57%201.38v2.57c0%201.01-.77%201.85-1.76%201.94l-.19.01h-2.57c-.52%200-1.01.21-1.38.57l-1.82%201.82c-.71.71-1.84.76-2.61.13l-.15-.13-1.82-1.82c-.37-.37-.86-.57-1.38-.57h-2.57c-1.01%200-1.85-.77-1.94-1.76l-.01-.19v-2.57c0-.52-.21-1.01-.57-1.38l-1.82-1.82c-.71-.71-.76-1.84-.13-2.61l.13-.15%201.82-1.82c.37-.37.57-.86.57-1.38v-2.57c0-1.08.87-1.95%201.95-1.95h2.57c.52%200%201.01-.21%201.38-.57l1.82-1.82c.76-.76%202-.76%202.76%200zm3.2%208.05c-.43-.34-1.03-.31-1.42.06l-.1.11-4.45%205.56-1.75-1.75-.11-.1c-.42-.32-1.03-.29-1.42.1s-.42.99-.1%201.42l.1.11%202.6%202.6.11.1c.42.32%201.02.29%201.4-.08l.1-.11%205.2-6.5.08-.12c.27-.46.17-1.05-.25-1.4z%22%20fill%3D%22%231c93e3%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
    margin: 0px;
    font-family: "Roboto", sans-serif;

    .bg {
        opacity: 0.3;
        background-image: url(./img/pattern.svg);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: overlay;
        // background: center repeat;
        background-size: 420px auto;
     
      
    }

    .text-additional{
        display: none;
        margin-top: 24px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        padding: 0 16px;
        margin: 20px 0 0;
        color: #7d7f81;
    }
    .backgraund {
        overflow: auto;
        height: 100%;
        width: 100%;
        position: fixed;
        background: linear-gradient(48deg, rgba(202,211,140,1) 0%, rgba(137,182,141,1) 53%, rgba(205,214,180,1) 96%);


        .head {
            position: fixed;
            justify-content: space-between;
            display: flex;
            left: 0;
            right: 0;
            top: 0;
            height: 54px;
            padding: 10px 16px;
            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background: var(--box-bg-blured);
            -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
            z-index: 1;


            .a-btn {
                padding: 9px 16px;
                display: inline-block;
                font-size: 14px;
                line-height: 17px;
                font-weight: bold;
                -webkit-font-smoothing: antialiased;
                text-transform: uppercase;
                color: #fff;
                background: #2481cc;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 34px;
                width: max-content;
                border-radius: 17px;
                text-align: center;
                transition: all .15s ease .15s;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
            }

            .logo-a {
                height: max-content;
            }
        }

        .cont {
            padding: 70px 16px 40px;


            .card {
                position: relative;
                margin: 16px auto;
                padding: 32px 0;
                max-width: 400px;
                background: #fff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                border-radius: 16px;
                transition: all .15s ease .15s;

                .img {
                    text-align: center;
                    padding-bottom: 16px;

                    img {
                        width: 122px;
                        height: 122px;
                        border-radius: 61px;
                    }
                }

                .nik {
                    font-size: 26px;
                    line-height: 32px;
                    font-weight: bold;
                    text-align: center;
                    max-width: 340px;
                    padding: 0 10px;
                    margin: 0 auto;
                    color: #000;

                }

                .name {
                    font-size: 15px;
                    line-height: 18px;
                    text-align: center;
                    padding: 6px 16px 0;
                    color: #7d7f81;
                }

                .coment{
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    line-height: 25px;
                    text-align: center;
                    margin: 10px 16px 0;
                    padding: 0;
                 
                }
                .div-card-btn{
                    line-height: 0;
                       text-align: center;
                    margin-top: 24px;
                    .btn-card {
                      
                      text-decoration: none;
                         font-size: 14px;
                         line-height: 17px;
                         font-weight: bold;
                         -webkit-font-smoothing: antialiased;
                         color: #FFF;
                   
                         border-radius: 22px;
                         overflow: hidden;
                         display: inline-block;
                         padding: 13px 24px;
                         height: 42px;
                         text-transform: uppercase;
                         vertical-align: top;

                         background-image: linear-gradient(270deg, rgba(100, 181, 239, 0) 48.44%, #64b5ef 75.52%, rgba(100, 181, 239, 0) 100%);
                         background-repeat: no-repeat;
                         animation: bg-movee linear 5s infinite;
                         background-color: #2481cc;
                     }
                }

             
            }
        }
    }



}

@media (max-width: 480px) {

    body{
        .text-additional {
            display: block;
        }
    }
   
}

